<section>
    <div class="container mt-4">
    <div class="row">


        <div class="col-md-6">
            <h2 class="text-center">Edit Product</h2>
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
                <label for="">Name</label>
                <input type="text" name="Name" class="form-control" placeholder="Enter the Item Name"


                <label for="">Category</label>
                <input type="text" name="Category" class="form-control" placeholder="Enter Product Category">

                <label for="">Price</label>
                <input type="text" name="Price" class="form-control" placeholder="Enter Price of the Product">

                <label for="">Description</label>
                <input type="text" name="Description" class="form-control" placeholder="Please give the Specification of the Product">

                <label for="">Image</label>
                <input type="file" name="Images" class="form-control">


                <button type="submit" class="btn btn-succes mt-4">Submit</button>
            </form>
        </div>
    </div>
</section>