<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center">Create New Account!!</h2>
      <form>
          <div class="form-group">
           <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter your Name" name="name">
        </div>
        <div class="form-group">
        <label>E-Mail Address</label>
        <input type="email" class="form-control" placeholder="Enter your E-mail" name="email">
        </div>
        <div class="form-group">
        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password" class="form-control">
        </div>
        <a href="/login" class="mt-6"> Already have an Account!!?</a>

        <button type="submit" class="btn btn-primary mt-2 float-right">Sign-Up</button>
      </form>
    
    </div>
  </div>
</div>