<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center">Sign Up</h2>
      <form>
           <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter your Name" name="name">


        <label>E-Mail Address</label>
        <input type="email" class="form-control" placeholder="Enter your E-mail" name="email">

        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password" class="form-control">

        <button type="submit" class="btn btn-primary mt-2 float-right">Sign-Up</button>
        


        <a href="/login" class="mt-6"> Already have an Account!!?</a>
      </form>
    </div>
  </div>
</div>